* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #efefef;
  font-family: "fedora", sans-serif;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  font-size: 1.5em;
  margin: 3rem auto;
  font-weight: bold;
  font-family: "fedora", sans-serif;
  background-color: #efefef;
}
